/* 

COLORS
Background: #FFF7EE
Text:       #3A3A3A
Primary:    #F9DB6C
Secondary:  #E56E42
Tertiary:   #4C8C4A

*/

html {
    background-color: #FFF7EE;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Truculenta', sans-serif;
}

.top-menu {
    outline: 2px solid #3A3A3A;
    width: 100vw;
    height: 5rem;
    margin: 0px;
}