/* 

COLORS
Background: #FFF7EE
Text:       #3A3A3A
Primary:    #F9DB6C
Secondary:  #E56E42
Tertiary:   #4C8C4A

*/

html {
    background-color: #FFF7EE;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100w;
}