/* 

COLORS
Background: #FFF7EE
Text:       #3A3A3A
Primary:    #F9DB6C
Secondary:  #E56E42
Tertiary:   #4C8C4A

*/

html {
    background-color: #FFF7EE;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    font-family: 'Truculenta', sans-serif;
    color: #3A3A3A;
}

a {
    color: #3A3A3A;
    text-decoration: none;
}

/* ––––––––––––––––––––––––––––––––––––––––––– */

/* TOP MENU */

.top-menu {
    outline: 2px solid #3A3A3A;
    width: 99vw;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.top-menu_boo-icon {
    width: 4rem;
    rotate: -15deg;
}

.top-menu_item-colour {
    background-color: #F9DB6C;
    border-right: 2px solid #3A3A3A;
    height: 5rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu_item:hover {
    background-color: rgba(249, 219, 108, 0.5);
    transition-duration: 0.5s;
    height: 5rem;
    width: 14rem;
}

.top-menu_item {
    border-right: 2px solid #3A3A3A;
    height: 5rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu_item-icons {
    border-right: none;
    height: 5rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu_item-icons:hover {
    background-color: rgba(249, 219, 108, 0.5);
    transition-duration: 0.5s;
    height: 5rem;
    width: 14rem;
}

/* ––––––––––––––––––––––––––––––––––––––––––– */

/* BACKGROUND IMAGES */

.background-bottom {
    position: absolute;
    left: 3rem;
    top: 23rem;
    height: 25rem;
}

.background-top {
    position: absolute;
    right: 3rem;
    top: 9rem;
    height: 10rem;
}

.background-bottom-2 {
    position: absolute;
    right: 3rem;
    top: 55rem;
    height: 25rem;
}

.background-top-2 {
    position: absolute;
    left: 3rem;
    top: 90rem;
    height: 10rem;
}

/* ––––––––––––––––––––––––––––––––––––––––––– */

/* COLOUR */

.main-content {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 180vh;
}

.main-content_boo-item {
    rotate: 15deg;
    height: 22rem;
    animation: float 6s ease-in-out infinite;
    position: absolute;
    right: 7rem;
    top: 28rem;
}

@keyframes float {
	0% {transform: translatey(0px);}
    25% {transform: translatey(-10px);}
	75% {transform: translatey(10px);}
	100% {transform: translatey(0px);}
}

.main-content_text {
    background-color: #FFFF;
    height: 35rem;
    width: 58rem;
    padding: 3rem;
    border: 2px dashed #3A3A3A;
    border-radius: 16px;
}

.main-content_text-h1 {
    font-size: 7rem;
    font-weight: 900;
    margin: 0 0 1rem 0;
}

.main-content_text-h2 {
    font-size: 4rem;
    font-weight: 900;
    margin: 0 0 1rem 0;
}

.main-content_text-h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0 4rem 0;
}

.main-content_text-img {
    height: 15rem;
}

.main-content_text-application {
    height: 29rem;
}

.application-container {
    display: flex;
}

.btn {
    display: flex;
    flex-direction: col;
}

