/* 

COLORS
Background: #FFF7EE
Text:       #3A3A3A
Primary:    #F9DB6C
Secondary:  #E56E42
Tertiary:   #4C8C4A

*/

:root {
    --background: #FFF7EE;
    --text: #3A3A3A;
    --primary: #DEAD00;
    --secondary: #E56E42;
    --tertiary: #4C8C4A;
}

html {
    background-color: #FFF7EE;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    font-family: 'Truculenta', sans-serif;
    color: #3A3A3A;
}

a {
    color: var(--text);
    text-decoration: none;
}

/* ––––––––––––––––––––––––––––––––––––––––––– */

/* TOP MENU */

.top-menu {
    outline: 2px solid #3A3A3A;
    width: 99vw;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.top-menu_boo-icon {
    width: 4rem;
    rotate: -15deg;
}

.top-menu_item-typography {
    background-color: #F9DB6C;
    border-right: 2px solid #3A3A3A;
    height: 5rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu_item:hover {
    background-color: rgba(249, 219, 108, 0.5);
    transition-duration: 0.5s;
    height: 5rem;
    width: 14rem;
}

.top-menu_item {
    border-right: 2px solid #3A3A3A;
    height: 5rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu_item-icons {
    border-right: none;
    height: 5rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu_item-icons:hover {
    background-color: rgba(249, 219, 108, 0.5);
    transition-duration: 0.5s;
    height: 5rem;
    width: 14rem;
}

/* ––––––––––––––––––––––––––––––––––––––––––– */

/* BACKGROUND IMAGES */

.background-bottom {
    position: absolute;
    left: 3rem;
    top: 23rem;
    height: 25rem;
    z-index: -1;
}

.background-top {
    position: absolute;
    right: 3rem;
    top: 9rem;
    height: 10rem;
    z-index: -1;
}

/* ––––––––––––––––––––––––––––––––––––––––––– */

/* TYPOGRAPHY */

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.main-content_boo-item {
    rotate: 15deg;
    height: 22rem;
    animation: float 6s ease-in-out infinite;
    position: absolute;
    right: 7rem;
    top: 28rem;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    25% {
        transform: translatey(-10px);
    }

    75% {
        transform: translatey(10px);
    }

    100% {
        transform: translatey(0px);
    }
}

.main-content_text {
    background-color: #FFFF;
    height: 35rem;
    width: 58rem;
    padding: 3rem;
    border: 2px dashed #3A3A3A;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content_text-h1 {
    font-size: 7rem;
    font-weight: 900;
    margin: 0 0 0.25rem 0;
}

.main-content_text-h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0 0 0rem 0;
}

/* margin: top right bottom left */

.main-content_link-font {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 0 0;
}

.main-content_site-h1 {
    font-size: 36px;
    font-weight: 800;
    margin: 1.5rem 0 0 0;
    color: var(--primary);
}

.main-content_site-h2 {
    font-size: 32px;
    font-weight: 800;
    margin: 1rem 0 0 0;
    color: var(--secondary);
}

.main-content_site-h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 1rem 0 0 0;
    color: var(--tertiary);
}

.main-content_site-button {
    font-size: 18px;
    font-weight: 700;
    font-weight: 500;
}

.main-content_site-body, .main-content_site-link {
    font-size: 16px;
    font-weight: 400;
}

.main-content_site-link{
    text-decoration: underline solid 1px;
    color: var(--secondary);
}

.main-content_site-justification {
    width: 290px;
}